{{ if .authinfo }}
<h1>Welcome {{ .authinfo.UserFullName }}</h1>
<ul>
    {{range .roles}}
    <li>{{.}}</li>
    {{end}}
</ul>

<a href="/secret">Go to Secret Page</a><br>
<a href="/logout">Logout</a><br>
<a href="/roles">Roles</a><br>
<a href="/rules">Rules</a><br>
<a href="/changerole">Change Role</a><br>
<a href="/api/books">Test api books</a><br> {{ else }}
<h1>Please Login</h1>
<form action="/login" method="post">
    User : <input type="text" name="Email"> <br> Pass : <input type="text" name="Pass"> <br><br>
    <input type="submit" value="Submit">
</form>
{{ end }}
<br>
<a href="/err">Test Error</a>
<br>
<h2>Danh sách user</h2>
{{ if .authinfo }}
<ul>
    {{range .users}}
    <li>{{.FullName}} - {{.Email}} - {{.Roles}}</li>
    {{end}}
</ul>
{{ end }}